{% extends "shared/base.html" %}

{% load sidebar %}
{% load prequests %}

{% block title %}
{{ block.super }} | Dashboard
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="{% active 'home' %}">
                <a href="{% url 'profile:home' %}">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="{% active 'myprograms' %}">
                <a href="{% url 'programs:myprograms_list' %}">My Programs<span class="sr-only">(current)</span></a>
            </li>
            <li class="{% active 'myprequests' %}">
                <a href="{% url 'programs:myprequests_list' %}">My Requests<span class="sr-only">(current)</span></a>
            </li>
          </ul>
            {% if request.user.is_staff %}
            <ul class="nav nav-sidebar">
            <li class="{% active 'users' %}">
                  <a href="{% url 'profile:users_list' %}">Users <span class="sr-only">(current)</span></a>
              </li>
                <li class="{% active 'programs' %}">
                  <a href="{% url 'programs:programs_list' %}">Programs <span class="sr-only">(current)</span></a>
              </li>
                <li class="{% active 'prequests' %}">
                  <a href="{% url 'programs:prequests_list' %}">Requests <span class="badge"> {% pending_prequest_count %}
                  </span><span class="sr-only">(current)</span></a>
              </li>
                <li class="{% active 'fields' %}">
                  <a href="{% url 'programs:fields_list' %}">Fields <span class="sr-only">(current)</span></a>
              </li>

          </ul>
            {% endif %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 dash">
            {% block mgmtcontent %} {% endblock %}
        </div>
      </div>
</div>
{% endblock %}