/* We'll put custom CSS here */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 60px;
    font-weight: 200;
    color: #000;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

.login {
  margin-top: 5%
}

.main {
  margin-top: 0%;
}

.landing .btn {
  text-transform: none;
}

.landing .btn:focus {
  border-color: #000000;
  outline: none
}

.panel {
  border: none;
}

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.form-control:focus {
  border-color: #2c3e50;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  border-radius: 0;
}

.link-wo-line:hover, .link-wo-line:focus {
    text-decoration: none;
}

.dash .page-header {
  margin-top: 0;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgb(255, 255, 255, 0);

    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #18bc9c;
}

/*
 * Main content
 */

.dash {
  padding: 20px;
}
@media (min-width: 768px) {
  .dash {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.dash .page-header {
  margin-top: 0;
}
.container-fluid .jumbotron {
    border-radius: 0px;
}
.jumbotron h1, .jumbotron .h1 {
    font-size: 28px;
}

.dropdown-menu {
    border-radius: 0;
}

.shorten {
    width: 40%;
    margin: auto;
    text-align: center;
}


.index {
    font-weight: 200;
}

.tagline {
    font-weight: 100;
    padding: 10%
}

.thin-h {
    font-weight: 200;
}

.special-hr {
    border-bottom: 2px #18bc9c solid;
}

