/* We'll put custom CSS here */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

.login {
  margin-top: 5%
}

.main {
  margin-top: 0%;
}

.landing .btn {
  text-transform: none;
}

.landing .btn:focus {
  border-color: #000000;
  outline: none
}

.panel {
  border: none;
}

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.form-control:focus {
  border-color: #2c3e50;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  border-radius: 0;
}

.link-wo-line:hover {
    text-decoration: none;
}